* {
  box-sizing: border-box;
}

.cards-list {
  display: flex;
  flex-direction: "row";
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
}
.card {
  width: 250px;
  font-size: 12px;
  flex: 0 0 auto;         /* ADD */
  display: flex;          /* ADD */
  flex-direction: column; /* ADD */
}
.card--image {
  width: 100%;
  border-radius: 9px;
}

.card--title {
  overflow: hidden;
  text-overflow: ellipsis;
}


.card--stars {
  width: 20px;
  height: 20px;
}

.card--stats {
  display: flex;
  align-items: center;
}