body {
    background-color: rgba(68,68,68,255);
}
/* Navbar CSS */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .left-links,
  .right-links {
    list-style: none;
    display: flex;
    align-items: center;
  }
  
  .left-links li,
  .right-links li {
    margin-right: 10px;
  }
  
  .left-links a,
  .right-links a {
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
  }
  
  .left-links a:hover {
    background-color: #333;
    color: #ffffff;
  }
  
  .right-links img {
    width: 30px;
    height: 30px;
    border-radius: 5px;
  }
  /* End of Navbar CSS */


/* Header CSS */
.header {
    display: flex;
    flex-direction: row;
}

/* End of Header CSS */


/* Cards CSS */
.card--list {
    display: flex;
    flex-direction: "row";
    overflow-x: auto;
}
/* End of Cards CSS */
